[submodule "lib/WindowStateTriggers"]
	path = lib/WindowStateTriggers
	url = https://github.com/dotMorten/WindowsStateTriggers.git
[submodule "lib/winrtxamltoolkit"]
	path = lib/winrtxamltoolkit
	url = https://git01.codeplex.com/winrtxamltoolkit
[submodule "lib/MusicBrainz"]
	path = lib/MusicBrainz
	url = https://github.com/avatar29A/MusicBrainz.git
[submodule "lib/Kimono"]
	path = lib/Kimono
	url = https://github.com/Amrykid/Kimono.git
[submodule "lib/Crystal"]
	path = lib/Crystal
	url = https://github.com/Amrykid/Crystal.git
[submodule "lib/Kukkii"]
	path = lib/Kukkii
	url = https://github.com/Amrykid/Kukkii.git
