[submodule "lib/WindowStateTriggers"]
	path = lib/WindowStateTriggers
	url = https://github.com/dotMorten/WindowsStateTriggers.git
[submodule "lib/winrtxamltoolkit"]
	path = lib/winrtxamltoolkit
url=https://github.com/xyzzer/WinRTXamlToolkit.git
[submodule "lib/MusicBrainz"]
	path = lib/MusicBrainz
url=https://github.com/Amrykid/MusicBrainz.git
[submodule "lib/Kimono"]
	path = lib/Kimono
	url = https://github.com/Amrykid/Kimono.git
[submodule "lib/Crystal"]
	path = lib/Crystal
	url = https://github.com/Amrykid/Crystal.git
[submodule "lib/Kukkii"]
	path = lib/Kukkii
	url = https://github.com/Amrykid/Kukkii.git
[submodule "lib/iTunesSearch"]
	path = lib/iTunesSearch
	url = https://github.com/Amrykid/iTunesSearch.git
[submodule "lib/UWPShoutcastMSS"]
	path = lib/UWPShoutcastMSS
	url = https://github.com/Amrykid/UWPShoutcastMSS.git

[submodule "src/Neptunium/Data/Stations/Data"]

	path = src/Neptunium/Data/Stations/Data
	url = git@github.com:Amrykid/Neptunium-Stations.git
